extends    ./layout/index
block contenido

    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sore nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida sit amet elit varius luctus. Cras tellus eros, ultrices laoreet nisi id, aliquet egestas ipsum. Proin sed neque metus. Aliquam vitae placerat nisl, sed interdum mauris. Vivamus ultrices erat hendrerit enim congue, ut imperdiet est sagittis. Duis tempus ex sapien, vel cursus j

                p Nulla facilisi. Nulla vulputate turpis sed volutpat consectetur. Cras ullamcorper maximus ipsum eget pharetra. Duis at ex pharetra odio lobortis dignissim vitae sed sapien. Nunc ac tellus et tellus rhoncus ultrices nec sed mi. Nunc massa ante, sollicitudin eget

                p Nulla maximus iaculis nisi, nec iaculis urna. Sed eleifend elit ullamcorper, fermentum ipsum nec, vestibulum mi. Donec posuere ipsum sed euismod blandit. Quisque quis dui orci. Nam quis euismod felis. Quisque finibus efficitur felis. Sed interdum commodo lacinia. Cras sit amet eros eu 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia error officiis provident necessitatibus ea illum perspiciatis dolorum fuga distinctio ipsa placeat omnis, facere impedit quo cupiditate ad consequatur nobis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono Destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia error officiis provident necessitatibus ea illum perspiciatis dolorum fuga distinctio ipsa placeat omnis, facere impedit quo cupiditate ad consequatur nobis.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia error officiis provident necessitatibus ea illum perspiciatis dolorum fuga distinctio ipsa placeat omnis, facere impedit quo cupiditate ad consequatur nobis.